<div id="wrapper">
    <!-- Sidebar -->
    {{>barra_lateral}}
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="content">
            {{>inicio_barra_superior}}
        </div>

    </div>
    <!-- End of Content Wrapper -->

  </div>