<div id="wrapper">

    <!-- Sidebar -->
    {{>barra_lateral}}

    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div class="content">
          {{>nav}}
            <div class="container-fluid">
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6>Advertencias</h6>
                    </div>
                    <div class="card-body">
                      {{>advertencia}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6>Notas</h6>
                      </div>
                      <div class="card-body">
                        {{>card}}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>

    </div>

    <!-- End of Content Wrapper -->

  </div>
