<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      Recurso bloqueado
    </div>
    <div class="card-body">
      <h1>Permiso insuficiente, usted no puede editar este campo</h1>
    </div>
    <div class="card-footer">
      Administrador
    </div>
  </div>
</div>
