<div class="row">
  {{#each nota}}
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ titulo }}
        </h4>
        <p>{{ contenido }} </p>
        <!-- DELETE REQUEST -->
        <form action="/nota/delete/{{_id}}" method="POST">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Borrar</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>
