<div class="col-xl-4 col-lg-5">
              <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body" style="height:2rem;">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-1">
                        <div class="text-lg font-weight-bold text-info text-uppercase mb-50">Monto Total {{total_monto_pagar}} Soles.</div>
                      </div>
                    </div>
                  </div>
              </div>
</div>
