<div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Agregar Personal</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <form class="user" action="/users/signup" method="POST">
                 <div class="form-group">
                   <input type="email" class="form-control form-control-user" name="email" aria-describedby="emailHelp" placeholder="Ingrese correo">
                 </div>
                 <div class="form-group">
                   <input type="password" class="form-control form-control-user" name="password"  placeholder="Contraseña">
                 </div>
                 <div class="form-group">
                   <input type="text" class="form-control form-control-user" name="dni" placeholder="Numero de celular">
                 </div>
                 <div class="form-group">
                   <input type="text" class="form-control form-control-user" name="nombre"  placeholder="Nombre">
                 </div>

                 <div class="form-group">
                   Categoría:<br>
                   <input type="radio" id="male" name="categoria" value=false>
                   <label for="male">Vendedor</label>
                   <input type="radio" id="female" name="categoria" value=true>
                   <label for="female">Administrados</label><br>
                 </div>
                 <button class="btn btn-primary btn-block">
                   Agregar
                 </button>
                 <hr>
               </form>
                </div>
              </div>
</div>
